html {
    box-sizing: border-box;

    *, *:before, *:after {
        font-family: "Open Sans", helvetica;
        .transition(~'all 0.2s linear');
        box-sizing: inherit;
    }
}

a {
    color: inherit;
}