div.header {
    position: relative;
    height: 450px;

    background-image: url('http://i.imgur.com/oof6JO1.jpg');
    background-size: cover; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: center;

    .screen {
        position: absolute;
        top: 0px; left: 0px; right: 0px; bottom: 0px;
        background: rgba(0,0,0,0.6);
        z-index: 1;
    }

    .navbar {
        .navbar-inverse;

        position: absolute;
        background: none;
        border: none;

        .navbar-nav {
            > li > a {
                color: white;
                padding-left: 20px;
                padding-right: 20px;
            }

            > .active > a {
                border-top-left-radius: @border-radius;
                border-top-right-radius: @border-radius;
                //border-top: 4px solid lighten(@navbar-inverse-link-active-bg, 20%);

                &,
                &:hover,
                &:focus {
                    color: @navbar-inverse-link-active-color;
                    background-color: @navbar-inverse-link-active-bg;
                }
            }

            .navbar-text {
                color: white;
            }
        }
    }
}