h1,h2,h3,h4,h5 { margin-top: 0px; }
div.page-header { margin-top: 0px; }

body {
	background-image: url('http://i.imgur.com/oof6JO1.jpg');
	background-size: cover; 
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-position: center;
}

body .screen {
	position: absolute;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	background: rgba(0,0,0,0.6);
	z-index: 1;
}

body > .center {
	position: relative;
	z-index: 2;
}

body .content {
	background: white;
	border-radius: 2px;
	padding: 15px;
}

div.center {
	width: 66%; margin: auto;
}

div.header {
	padding: 20px 0px;
	margin-bottom: 10%;
}

div.header .title {
	color: white !important;
	text-transform: uppercase;
	font-weight: bold;
}

div.header .title small {
	color: lightgreen !important;
}



a,a:hover {
	text-decoration: none;
	color: inherit;
}







form.login-form {
	position: relative;
	width: 450px;
	margin: -10% auto;
	z-index: 100;
}

.trade-item td {
	line-height: 40px !important;
	font-size: 20px;
}

.trade.open .title {
	color: green;
}

.trade.open .closed {
	color: red;
}

table td { vertical-align: middle !important; }